.usersWrapper {
    max-width: 90vw;
    margin: 0 auto;

    .loader {
        width: 110px;
        height: 110px;
        border: 8px solid;
        border-color: #00bdd3 #00bdd3 transparent;
        border-radius: 50%;
        animation: spin 1.3s infinite;
    }
    .usersHeader {
        text-align: center;

        .usersHeading {
            font-size: 40px;
            font-weight: 300;
            line-height: 40px;
            margin-bottom: 50px;
        }
    }
    .usersCards {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-weight: 400;
        margin: 0 auto;

        .card {
            text-align: center;
            background-color: #fff;
            max-width: 370px;
            min-width: 282px;
            border-radius: 16px;
            padding: 20px;
            margin-right: 29px;
            margin-bottom: 16px;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 16px;
            .cardHeader {
                line-height: 26px;
                .userImg {
                    line-height: 26px;
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                }
            }
            .cardBottom {
                .userCardInfo {
                    font-size: 16px;
                }
            }
        }
    }
    .usersBottom {
        text-align: center;
        margin-top: 54px;
        .usersBtn {
            width: 120px;
            padding: 0;
            height: 34px;
            background-color: #ffe302;
            color: rgba(0, 0, 0, 0.87);
            border: none;
            border-radius: 80px;
            font-size: 16px;
            line-height: 26px;
            &:hover {
                background-color: #f4e041;
                cursor: pointer;
            }
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media ((min-width: 1600px) and (max-width: 2560px)) {
    .usersWrapper {
        .usersCards {
            .card {
                width: 370px;
            }
        }
    }
}
@media (min-width: 1024px) {
    .usersWrapper {
        .usersCards {
            .card {
                width: 282px;
            }
        }
    }
}
@media (min-width: 760px) {
    .usersWrapper {
        .usersCards {
            .card {
                width: 344px;
                max-width: 344px;
                margin-right: 16px;
                margin-bottom: 16px;
            }
        }
    }
}
@media (max-width: 400px) {
    .usersWrapper {
        .usersCards {
            .card {
                width: 344px;
                max-width: 344px;
                margin-right: 0px;
                margin-bottom: 16px;
            }
        }
    }
}
