@font-face {
    font-family: 'Nunito Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
    font-family: 'Nunito Sans', sans-serif;
}

.appWrapper {
    .appHeader {
        background-color: #fff;
    }
    .appBody {
        .welcome {
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url('./assets/img/backgroundImg.jpeg') no-repeat;
            background-position: 50% 77%;
            width: 100%;
            background-size: 250%;
            display: flex;
            justify-content: center;
        }
        .users {
            margin: 140px 0px;
        }
        .registration {
            font-style: normal;
            margin: 140px 60px 100px;
        }
    }
}

@media (max-width: 360px) {
    .appHeader {
        padding: 13px 16px;
    }
}

@media (min-width: 360px) and (max-width: 768px) {
    .appWrapper {
        .appHeader {
            padding: 13px 32px;
        }
    }
}

@media (min-width: 768px) {
    .appWrapper {
        .appHeader {
            padding: 13px 60px;
        }
    }
}

@media (min-width: 1785px) and (max-width: 3840px) {
    .appWrapper {
        width: 100%;
        padding: 0 695px;
        margin: 0 auto;
        max-width: 1170px;
        .appHeader {
            padding: 13px 0;
        }
    }
}
